@charset "UTF-8";


@media screen and (max-width: 668px) {



    header nav a:hover{
        color: green;
    }

 
    header{
        display: inline-block;
        justify-content: space-around;
        align-items: center;
        height: 100px;

        
    }
    header nav a{
        font-size: 0.90rem;
    }
    .testando{
        display: none;
    }
    
    header h1{
        padding-left: 10px;
        color: #11d411;
        font-size: 1rem;
    }
    .btn-contato {
        display: none;
        
    }
    .btn-contato2{
        display: flex;
        justify-content: center;
        align-items: center;
       margin-top: 50px;
        padding-left: 20px;
    }
    #home img {
         text-align: center;
        margin: 0 auto;
        width: 300px;
        
    }
    #home{
        margin: 0px auto;
        padding: 0px  auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
         
    }
  
    

#home .conteudo p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    text-align: center;
    max-width: 668px;
    padding: 0px 10px;
    color: #fff;
}
#home .conteudo h2{
    font-size: 1.2rem;
    max-width: 668px;
    color: rgb(17, 212, 17);
    text-align: center;
    margin-bottom: 20px;
}
#home .conteudo h2::after{
    display: none;
    content: '';
    margin: auto;
    width: 490px;
    height: 4px;
    background-color: green;
}


.conteudo2{
    display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2px 2px;
margin: 0px;
   
    
}
.teste img{
    width: 200px;
    padding-left: 10px;
    
}
button{
   position: relative;
   margin: 0 auto;
   font-size: 1.2rem;
   
   
}
#estilos h2{
    font-size: 1.2rem;
}

}
.container{
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.container img{
    width: 200px;
    padding: 0px 15px;
}
#assistencia h2{
    font-size: 1.2rem;
}