@charset "UTF-8";

/* configuraçoes gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    height: 100vh;

}
/* configuraçoes de cabeçario */

header{
    padding: 40px 4%;
}

nav ul, li, a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}