@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* configuraçoes gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #202020;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding-top: 20px;
    
}
header h1{
    padding-left: 10px;
    color: #11d411;
    
}


header nav a {
    display: inline-block;
   text-decoration: none;
   color: #fff;
   font-size: 1.5rem;
   transition: .7s;
   padding-top: 15px;

}
header a:hover{
    color: green;
    transform: scale(1);
}
header nav ul {
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 10px 50px;
}
header nav ul li a:hover {
   transform: scale(1.5);
}

.testando{
    height: 200px;
    text-align: center;
 
    
  
   
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 100vh;
    gap: 400px;
    margin-bottom: 200px;
    
}
.btn-contato{
display: flex;
justify-content: center;
align-items: center;
padding-right: 20px;
}
.btn-contato2{
    display: none;
    justify-content: center;
    align-items: center;
   margin-top: 50px;
    padding-left: 20px;
}

button{
    color: white;
    font-size: 1.5rem;
    color: #11d411;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s;
    width: 150px;
    
}
button:hover{
    color: white;
    background: rgb(17, 212, 17);
}


#home  img {
    max-height: 100vh;
    right: 150px;
    border-radius: 0px 0px 30px 30px;
}

#home .conteudo p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 700px;
    padding: 0px 30px;
    color: #fff;
}
#home .conteudo h2{
    font-size: 3.5rem;
    text-align: center;
    color: rgb(17, 212, 17);
    text-align: center;
}
#home .conteudo h2::after{
    content: '';
    margin: auto;
    display: block;
    width: 490px;
    height: 4px;
    background-color: green;
}


 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 0px;
    font-size: 2.5rem;
    color: rgb(17, 212, 17);

}
.teste img{
    width: 400px;
}
.conteudo2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   

}
.conainer > div{
    margin: 0px;
}

.img{
    width: 320px;
    margin: 0px;
}
.iphone {
   width: 650px;
   padding-top: 50px;
   padding-left: 20px;


}

#assistencia h2 {
    align-items: center;
}

