@charset "UTF-8";

/* configuraçoes gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #202020;
}

header nav{
    display: flex;
    justify-content: flex-end;

}
header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: .7s;
    
    
}
header nav a:hover{
    color: green;
}
header nav ul {
    
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 10px 20px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
}