@charset "UTF-8";


@media screen and (max-width: 668px) {



    header nav a:hover{
        color: green;
    }
  header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
  }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    header h1{
        padding-left: 10px;
        color: #11d411;
        font-size: 1rem;
    }
    .btn-contato {
        display: none;
        
    }
    .btn-contato2{
        display: flex;
        justify-content: center;
        align-items: center;
       margin-top: 50px;
        padding-left: 20px;
    }
    
    
#home  img {
    max-width: 300px;
    border: 1px solid #11d411;
    margin-top: 50px;
    margin-right: 180px;
    border-radius: 50%;
    animation: anima 2s linear infinite alternate;
}

#home .conteudo p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 668px;
    padding: 0px 30px;
    color: #fff;
}
#home .conteudo h2{
    font-size: 1.5rem;
    max-width: 668px;
    color: rgb(17, 212, 17);
    text-align: center;
    margin-bottom: 20px;
}
#home .conteudo h2::after{
    content: '';
    margin: auto;
    display: block;
    width: 490px;
    height: 4px;
    background-color: green;
}
.conteudo2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    
}
.teste img{
    width: 200px;
    padding-left: 10px;
}

}