@charset "UTF-8";


@media screen and (max-width: 668px) {


    
    header nav a:hover{
        color: green;
    }
    body{
        max-width: 668px;
        margin: 0 auto;

    }

 
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 250px;
        overflow: hidden;

        
    }
    header nav a{
        font-size: 0.90rem;
    }
    .testando{
        display: none;
    }
    nav{
        overflow: hidden;
    }
    
    header h1{
        padding-left: 10px;
        color: #11d411;
        font-size: 1rem;
    }
    .btn-contato {
        display: none;
        
    }
    .btn-contato2{
        display: flex;
        justify-content: center;
        align-items: center;
       margin-top: 50px;
        padding-left: 20px;
    }
    #home img {
        margin:auto;
       width: 200px;
        position: absolute;
        margin-top: 70px;
        
    }
    #home{
        display: block;
        margin: auto;
       
       
         
    }
  
    

#home .conteudo p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    text-align: center;
    max-width: 668px;
    padding: 0px 10px;
    color: #fff;
}
#home .conteudo h2{
    font-size: 1.2rem;
    max-width: 668px;
    color: rgb(17, 212, 17);
    text-align: center;
    margin-bottom: 20px;
}
#home .conteudo h2::after{
    display: none;
    content: '';
    margin: auto;
    width: 490px;
    height: 4px;
    background-color: green;
}
#estilos{
    overflow: hidden;
}


.conteudo2{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2px 2px;
margin: 0px;
overflow: hidden;
   
    
}
.teste img{
    width: 200px;
    margin: 15px 15px;
    border: 5px solid white;
   
    
}
.teste:hover{
    color: #11d411;
}
button{
   position: absolute;
   margin:auto;
   font-size: 1.2rem;
   margin-top: 350px;
   left: 155px;
   
   
}
#estilos h2{
    font-size: 1.2rem;
}


.container{
    grid-template-columns: repeat(2, 1fr);
    

}
.container img{
    width: 200px;
    padding: 0px 15px;
    
}

#assistencia h2{
    font-size: 1.2rem;
}
.slider h2{
    font-size: 1.2rem;
}


.contatos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 40px 0;
}

ion-icon{
    font-size: 1.5rem;
}


.contatos a {
    color: #11d411;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 0.90rem;
   
}
.contatos a:hover{
    color: white;
    
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 190px;
   display: flex;
    justify-content: center;
    background: transparent;
    
}
.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.slide img {
    width: 400px;
}
.slider{
    margin: 50PX auto;
    width: 400px;
    overflow: hidden;
    height: 400px;
    

}

}

